
/* css */
*{
  font-family: biryani;
  font-weight: 800;
}
.column {
  float: left;
  width: 33.33%;
}
.spacer{
  height: 10vw;
}
.poster-background{
  background-color: rgb(154,171,178);
  height: calc(28em + 15vw);
  z-index: 1;
  width:95vw;
  max-width: 42em;
}

.mask{
  background-color: white;
  z-index:10;
}
.poster-text{
  transform: rotate(-40deg);
  z-index:2;
  width: 55vw;
  max-width:35em;
  margin:auto;
}
.eggshell{
  background-color: rgb(223,225,212);
  font-size: 400%;
}
.pink{
  background-color: rgb(236,0,136);
}
.purple{
  background-color: rgb(133,23,138);
}
.black{
  background-color: rgb(0,0,10);
}
.line{
  height: 15vw;
  max-height:15vh;
}
